/*
assigns:
    text color #3D3D3D to elements inside body tags
    text color #FF0000 to any elements of class .red that are the first children of the body
    you must use nested declarations
 */

body {
  color: #3D3D3D;

  &>.red {
    color: #FF0000;
  }
}
